body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
#container {
    position:relative;
}
#viewport {
    position:absolute;
    top:0px;
    left:0px;
    opacity:1;
}
#viewport-canvas {
    background:#eee;
}
#viewport .overlay {
    position:absolute;
    top:0px;
    left:0px;
}
.sprite {
    position:absolute;
    width:16px;
    height:16px;
}
.player {
    background-image:url(../assets/pcs/player.png);
}